body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color:green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.login-btn,
.signUp-btn {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.login-btn {
    background-color: #007bff;
}

.login-btn:hover {
    background-color: #0056b3;
}

.signUp-btn {
    background-color: #28a745; /* Green for distinction */
}

.signUp-btn:hover {
    background-color: #218838; /* Darker green on hover */
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
